#Dejanos-tu-mensaje {
    background-color: #112241; /* Color de fondo del formulario */
    padding: 50px 0; /* Espacio en la parte superior e inferior */
}

/* Cambia el color del texto en los labels */
form label {
    color: white;
}

/* Cambia el color del texto en los inputs y textarea */
form input, form textarea {
    color: white;
    background-color: #333;  /* Fondo oscuro para contrastar */
}

/* Para el botón de envío */
button[type="submit"] {
    color: white;
}

form h3 {
    color: white;
}


h2 {
    margin-bottom: 30px; /* Espacio debajo del título */
    font-weight: bold; /* Negrita para el título */
}

.form-control {
    border-radius: 0.25rem; /* Bordes redondeados */
}

.btn-primary {
    background-color: #112241; /* Color del botón */
    border: none; /* Sin borde */
}

.btn-primary:hover {
    background-color: #112241; /* Color al pasar el mouse */
}
