footer {
    background-color: #ca6f1e; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
}

footer p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    footer {
        font-size: 14px; 
    }

    footer p {
        margin: 3px 0; 
    }
}

