.section-bg {
    background: url('../img/Guardia\ P.webp') no-repeat center center;
    background-size: cover;
    padding: 60px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}
.section-bg-2 {
    background: url('../img/Paola.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}
.section-bg-3 {
    background: url('../img/san\ marco.webp') no-repeat center center;
    background-size: cover;
    padding: 60px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}
.section-bg-4{
    background: url('../img/ArgitaliaPres.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.section-bg:hover, .section-bg-2:hover, .section-bg-3:hover {
    transform: scale(1.05);
}

.section-bg h2, .section-bg-2 h2, .section-bg-3 h2, .section-bg-4 h2 {
    color: #ffffff;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.section-bg p, .section-bg-2 p, .section-bg-3 p, .section-bg-4 p   {
    background: rgba(0, 0, 0, 0.747);
    padding: 10px;
    border-radius: 5px;
}

.section-bg-4 ul  {
    background: rgba(0, 0, 0, 0.747); 
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
/* Centrado solo para la sección de Términos y Condiciones */
.terms-section {
    text-align: center;
}

.buttonTyC {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

.buttonTyC:hover {
    background-color: #0056b3;
}
