.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.title {
    font-size: 2rem;
    color: #ca6f1e;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem;
    color: #444;
    margin-top: 20px;
}

.list {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1rem;
    line-height: 1.5;
}
.back-button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}